<div class="div_header">
  <span class="page-heading">EMPLOYEES</span>
  <p class="btn-options">
    <!-- <button mat-raised-button (click)="openDialog()">New Transaction</button> -->
    &nbsp;
    <button mat-raised-button [matMenuTriggerFor]="menu">Actions</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>See Payments</button>
      <button mat-menu-item>Make Payments</button>
    </mat-menu>
  </p>
</div>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let employees"> {{employees.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="employeeName">
    <mat-header-cell *matHeaderCellDef> Bank </mat-header-cell>
    <mat-cell *matCellDef="let employees"> {{employees.employeeName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accountNo">
    <mat-header-cell *matHeaderCellDef> Account No. </mat-header-cell>
    <mat-cell *matCellDef="let employees"> {{employees.accountNo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let employees">
      <button mat-icon-button (click)="deleteEmployee(employees)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>

</mat-table>
